.action-menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.action-menu-container.show {
    display: block;
}

.action-menu {
    position: fixed;
    background-color: var(--btn-color);
    min-width: 140px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
    border-radius: 8px;
    padding: 6px 0;
}

.action-menu a {
    display: block;
    padding: 8px 15px;
    color: #b2b2b2;
    text-decoration: none;
    font-size: var(--normal-font-size);
    transition: all 0.2s;
}

.action-menu a:hover {
    background-color: var(--btn-color-hover);
    color: white;
}

.action-menu a:active {
    background-color: var(--btn-color-active);
}

.action-menu a.danger {
    color: #ff1e1e;
}

.action-menu a.danger:hover {
    background-color: var(--btn-color-hover);
    color: #ff4242;
}