.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    z-index: 1000;
    background-color: var(--color-1);
    box-shadow: black 0 4px 10px;
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
}

.logo-title {
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--text-low-color);
}

.main-title {
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    color: var(--title-color);
    text-shadow: black 0 0 10px;
}