.items-list-container {
    flex: 1;
    mask-image: 
        linear-gradient(to bottom, transparent 0%, black var(--items-gradient-height)),
        linear-gradient(to top, transparent 0%, black var(--items-gradient-height));
    -webkit-mask-image: 
        linear-gradient(to bottom, transparent 0%, black var(--items-gradient-height)),
        linear-gradient(to top, transparent 0%, black var(--items-gradient-height));
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
}

.items-scrollable-list {
    padding: var(--items-gradient-height) 10px 10px 10px;
    max-height: calc(
        100vh 
        - var(--header-height) 
        - var(--container-y-padding) * 2
        - var(--toolbar-height) 
        - var(--sub-container-y-padding)
    );
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
}

.item-card {
    padding: 15px 15px calc(var(--item-card-border-height) + 15px) 15px;
    border-radius: 5px;
    background-clip: padding-box;
    position: relative;
    text-align: center;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    background-color: var(--color-2);
}

.item-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    background-color: var(--color-1);
}

.item-card .icon {
    font-size: 4em;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.item-card .name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: var(--high-font-size);
    color: var(--text-light-color);
}

.item-card .category {
    font-size: var(--normal-font-size);
    color: var(--text-medium-color);
}

.delete-item-btn {
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: var(--btn-delete-color);
    color: white;
    font-size: var(--normal-font-size);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

.item-card:hover .delete-item-btn,
.delete-item-btn:hover {
    opacity: 1;
}

.delete-item-btn:hover {
    background-color: var(--btn-delete-color-hover);
}

.delete-item-btn:active {
    background-color: var(--btn-delete-color-active);
}

.item-card::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--item-card-border-height);
    background-size: 300% 100%;
    animation: item-card-gradient-anim 3s linear infinite
}

.item-card[data-rarity="Common"]::after {
    background-image: linear-gradient(315deg, var(--color-common-1), var(--color-common-2), var(--color-common-1), var(--color-common-2));
}
.item-card[data-rarity="Uncommon"]::after {
    background-image: linear-gradient(315deg, var(--color-uncommon-1), var(--color-uncommon-2), var(--color-uncommon-1), var(--color-uncommon-2));
}
.item-card[data-rarity="Rare"]::after {
    background-image: linear-gradient(315deg, var(--color-rare-1), var(--color-rare-2), var(--color-rare-1), var(--color-rare-2));
}
.item-card[data-rarity="Epic"]::after {
    background-image: linear-gradient(315deg, var(--color-epic-1), var(--color-epic-2), var(--color-epic-1), var(--color-epic-2));
}
.item-card[data-rarity="Legendary"]::after {
    background-image: linear-gradient(315deg, var(--color-legendary-1), var(--color-legendary-2), var(--color-legendary-1), var(--color-legendary-2));
}
.item-card[data-rarity="Mythic"]::after {
    background-image: linear-gradient(315deg, var(--color-mythic-1), var(--color-mythic-2), var(--color-mythic-1), var(--color-mythic-2));
    animation: item-card-gradient-anim 3s linear infinite, item-card-pulse-anim 1s ease-in-out infinite;;
}
.item-card[data-rarity="Divine"]::after {
    background-image: linear-gradient(315deg, var(--color-divine-1), var(--color-divine-2), var(--color-divine-1), var(--color-divine-2));
    animation: item-card-gradient-anim 3s linear infinite, item-card-pulse-anim 1s ease-in-out infinite;;
}

@keyframes item-card-gradient-anim {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

@keyframes item-card-pulse-anim {
    0%, 100% { filter: brightness(1); }
    50%      { filter: brightness(1.4); }
}
